{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style-1.css'%}">
{% endblock %}

{% block title %}
    About Us
{% endblock %}

{% block contents %}
    
    <p>Thank You for stopping by. Mocking Weather is a small scale, non-commercial project made using HTML, CSS, Python and powered by Dark Sky API. In case you would like to contribute or support the project or own the rights to any of the images used, contact us at the email given below.</p>

    <address>Email: mockingweather@gmail.com</address>
            
{% endblock %}