{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/practice.css' %}" type="text/css">
  <title>Mocking Weather</title>
  <style>

  </style>
</head>
<body class="body-bg">
    <nav class="navbar navbar-expand-lg navbar-light bg-light night-bx">
        <a class="navbar-brand"  id="color-white" href="{% url 'home' %}">Mocking Weather</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'info' %}" id="color-white">Info <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'message' %}" id="color-white">Add Message</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'feedback' %}" id="color-white">Feedback</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" method="POST">
            {% csrf_token %}
                <div class="form-control mr-sm-2" id="form-design">
                {{ form.name }}
                </div>
            <button class="btn btn-outline-dark my-2 my-sm-0" id="btn-over" type="submit">Search</button>
          </form>
        </div>
      </nav>
  
  
  <section>
          
    {% for weather in weather_data %}
    <div class="weather-box night-bx">
      <div class="wrapper">
        <div class="message night-bg">
          <div class="text">{{ weather.message }}</div>
          <div class="icon"><i class="fas fa-angle-down"></i></div>
        </div>
        <div class="info">
          <div class="data-1">
            <div class="location">{{ weather.city }}</div>
            <div class="description">{{ weather.description }}</div>
          </div>
          <div class="data-2">
            <div class="temperature">{{ weather.temperature }}&deg;C</div>
            <div class="weather-img"><img src="http://openweathermap.org/img/w/{{ weather.icon }}.png"></div>
          </div>
          <div class="data-3 night-bg">
            <div class="data-container">
              <div class="icon"><i class="fas fa-temperature-high"></i>{{ weather.temp_max }}&deg;</div>
            </div>
            <div class="data-container">
                <div class="icon"><i class="fas fa-wind"></i>{{ weather.wind_speed }}K/hr</div>
            </div>
            <div class="data-container">
                <div class="icon"><i class="fas fa-temperature-low"></i>{{ weather.temp_min }}&deg;</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image night-img"></div>
    </div>
   {% endfor %}
      
  </section>
  
</body>
</html>