/* Gradients */
.cloudy-gr {
  background-image: linear-gradient(to left bottom, #ebd9c3, #d4c3b1, #bdaea0, #a7998f, #90857e);
}

.night-gr {
  background-image: linear-gradient(to left bottom, #2d455d, #283e5a, #253656, #242e51, #24264c);
}

.rain-gr {
  background-image: linear-gradient(to left bottom, #716f9e, #5c5a82, #484667, #34334d, #222134);
}

.snow-gr {
  background-image: linear-gradient(to left bottom, #afb7d0, #8e98b5, #6d7a9b, #4d5d82, #2d4269);
}

.sunny-gr {
  background-image: linear-gradient(to left bottom, #fee069, #ebb54c, #d48b36, #b96326, #9c3b1a);
}


/* Box Shadow */
.cloudy-bx {
  box-shadow: 0px 0px 25px 5px rgba(47, 34, 43, 0.8);
}

.night-bx {
  box-shadow: 5px 0px 15px 5px rgba(1, 1, 1, 0.4);
}

.rain-bx {
  box-shadow: 0px 0px 25px 5px rgba(11, 11, 17, 0.8);
}

.snow-bx {
  box-shadow: 0px 0px 25px 5px rgba(22, 43, 83, 0.8);
}

.sunny-bx {
  box-shadow: 0px 0px 25px 5px rgba(40, 0, 3, 0.8);
}




/* Background Color (Message Box) */
.cloudy-bg {
  background-color: rgba(47, 34, 43, 0.6);
}

.night-bg {
  background-color: rgba(38, 47, 76, 0.8);
  background-color: rgb(76,142,141, 0.6);
  background-color: rgb(38,49,77, 0.6);
}

.rain-bg {
  background-color: rgba(11, 11, 17, 0.8);
}

.snow-bg {
  background-color: rgba(22, 43, 83, 0.8);
}

.sunny-bg {
  background-color: rgba(40, 0, 3, 0.8);
}



/* Background Image (Message Box) */
.cloudy-img {
  background-image: url('cloudy-temp.png');
}

.night-img {
  background-image: url('night.jpg');
}

.rain-img {
  background-image: url('rain.png'); 
}

.snow-img {
  background-image: url('snow.png');
}

.sunny-img {
  background-image: url('sunny.jpg');
}

.body-bg {
  background: linear-gradient(to right, #606c88, #3f4c6b);
}


* {
  margin: 0;
  padding: 0;
}



body {
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;

  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
  color: rgba(255, 255, 255, 1);
}

.navbar-light {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

#color-white {
  color: white !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#btn-over {
  border: 1px solid white !important;
  color: white !important;
  border-radius: 0 !important
}

#btn-over:hover {
  background-color: white !important;
  color: black !important;
  border-radius: 0 !important; 
}

#form-design {
  background: none !important;
  border-radius: 0 !important;
  color: rgba(255, 255, 255, 0.9) !important;
}

header h1 {
  font-weight: 300;
  margin: 0.5rem 2rem;
}

header i {
  font-size: 1.25rem;
  margin: 0rem 2rem; 
}

header a:link {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

header a:visited {
  color: rgba(255, 255, 255, 1);
}
/* Header- */


/* -Section */
section {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* Section- */


/* -Weather Box */
.weather-box {
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  height: 500px;
  width: 320px;
  transition: all 0.6s ease-in;
  margin: 0 1.5rem;
}


.weather-box-b {
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  height: 450px;
  width: 720px;
}

.weather-box-sm {
  height: 500px;
  width: 320px;
  display: flex;
  font-size: 5rem;
  align-items: center;
  justify-content: center;

  border: 1px dashed rgb(244, 245, 247);
  margin: 0 1.5rem;
}
/* Weather Box- */


/* -Wrapper */
.wrapper {
  height: 50%;
  width: 100%;

  display: flex;
  flex-direction: column;
}
/* Wrapper- */


/* -Message Box */
.message {
  height: 15%;
  font-size: 1rem;
  overflow: hidden;
  transition: all 0.8s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

.message .text {
  display: none;
  margin: 0rem 1rem;
  text-align: center;
}

.message:hover {
  height: 100%;
}

.message:hover .icon{
  display: none;
}

.message:hover .text {
  display: block;
}

.message:hover + .info {
  height: 0;
}
/* Message Box- */


/* -Info Box*/
.info {
  height: 90%;
  overflow: hidden;
}

.data-1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0.75rem 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-2 {
  font-size: 1.75rem;
  margin: 0.35rem 1.25rem;
  text-align: center;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-2 .weather-img {
  margin-left: 1rem;
}

.data-2 .weather-img img {
  height: 50px;
  width: 50px;
}

.data-3 { 
  font-weight: 100 !important;
  padding: 0.5rem 0;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.data-3 .data-container {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  font-size: 1rem;
}

.data-3 .data-container > div {
  margin: 0.8rem 0.5rem;
}

.data-3 .data-container  i {
  font-size: 1rem;
  margin: 0 0.5rem;
}
/* Info Box- */


/* -Image */ 
.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 50%;
  width: 100%;
}

.night-img {
  background-image: url('night.jpg');
  background-position: bottom;
}
/* Image- */


/* -Media Queries */
@media screen and (max-width: 320px) {
  html {
    font-size: 11px;
  }

  .weather-box {
    flex-direction: column;

    height: 490px;
    width: 280px;
  }

  .wrapper {
    height: 60%;
    width: 100%;
  }

  .message {
    height: 10%;
  }

  .info {
    height: 90%;
  }

  .data-1 {
    align-items: center;
    margin: 0.5rem;
  }

  .data-2 {
    justify-content: center;
    margin: 0.5rem;
  }

  .data-3 {
    font-weight: 400;
    padding: 0.75rem;
  }
  
  .image {  
    height: 40%;
    width: 100%;
  }

  .night-img {
    background-image: url('night.jpg');
    background-position: bottom;
  }

  .snow-img {
    background-image: url('snow.png');
    background-position: initial;
  }
}

@media screen and (min-width: 320.1px) and (max-width: 575.98px) {
  html {
    font-size: 12px; 
  }

  .weather-box {
    flex-direction: column;

    height: 520px;
    width: 320px;
  }

  .wrapper {
    height: 60%;
    width: 100%;
  }

  .message {
    height: 13%;
  }

  .info {
    height: 87%;
  }

  .data-1 {
    align-items: center;
    margin: 0.5rem;
  }

  .data-2 {
    justify-content: center;
    margin: 0.5rem;
  }

  .data-3 {
    font-weight: 400;
    padding: 1rem;
  }

  .data-3 .data-container > div {
    padding: 0.35rem 0rem;
  }
  
  .image {  
    height: 40%;
    width: 100%;
  }

  .night-img {
    background-image: url('night.jpg');
    background-position: bottom;
  }

  .snow-img {
    background-image: url('snow.png');
    background-position: initial;
  }
}

/* Media Queries- */